{% extends 'base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}Camera{% endblock title %} {% block body %}

<!-- Add image upload form -->
<form id="imageUploadForm" enctype="multipart/form-data" style="text-align: center;">
  <input type="file" accept="image/*" id="imageInput" style="margin: 20px;">
  <button type="button" id="uploadButton" class="btn btn-primary">Upload Image</button>
</form>




<!-- Stylized Result Div -->
<div
  id="result"
  style="
    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fafafa;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  "
></div>

<script>
  const imageInput = document.getElementById("imageInput");
  const uploadButton = document.getElementById("uploadButton");
  const resultDiv = document.getElementById("result");

  uploadButton.addEventListener("click", async () => {
    const selectedFile = imageInput.files[0];
    if (!selectedFile) {
      return;
    }

    const formData = new FormData();
    formData.append("image", selectedFile);

    console.log("Uploading image...")
    // Send image data to backend
    const response = await fetch("/process_image", {
      method: "POST",
      body: formData,
    });

    const data = await response.json();
    console.log(data);
    resultDiv.textContent = data.text; // Display extracted text
  });
</script>

{% endblock body %}
