{% extends 'base.html' %} {% block script %}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>
{% endblock script %} {% block title %}Home{% endblock title %} {% block body %}

<div class="d-inline-flex">
  <img
    src="/static/img/hero.jpg"
    alt=""
    style="object-fit: contain; height: 100%; width: 100%"
    class="shadow-sm"
  />
  <img src="" alt="" style="margin-top: 100px" class="position-absolute" />
</div>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <h2 class="text-center pt-3">What's happening at HMIS ?</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container text-center">
        <div class="row m-5 p-3">
          <div class="col-md-4 d-flex text-center">
            <div class="container">
              <!-- here is where they add the ICON -->
              <a href="#" style="text-decoration: none; color: black">
                <img
                  src="/static/Images/Screenshot_2022-12-05_160757.jpg"
                  alt="..."
                  class="rounded h-50 w-75"
                />
                <h5 class="card-title pt-3">
                  HMIS accorded status by Gujarat Legislative Assembly
                </h5>
              </a>
              <p><small>Apr 3, 2023</small></p>
            </div>
          </div>
          <div class="col-md-4 d-flex text-center">
            <div class="container">
              <!-- here is where they add the ICON -->
              <a href="#" style="text-decoration: none; color: black">
                <img
                  src="/static/Images/Untitled_designsdfn.jpg"
                  alt="..."
                  class="rounded h-50 w-75"
                />
                <h5 class="card-title pt-3">
                  HMIS announce the lates version with which every data is
                  easily accesible with privacy
                </h5>
              </a>
              <p><small>Jan 28, 2023</small></p>
            </div>
          </div>
          <div class="col-md-4 d-flex text-center">
            <div class="container">
              <!-- here is where they add the ICON -->
              <a href="#" style="text-decoration: none; color: black">
                <img
                  src="/static/Images/AIER-AU-MOU-2.jpg"
                  alt="..."
                  class="rounded h-50 w-75"
                />
                <h5 class="card-title pt-3">
                  MoU signed between HMIS system of 0xAI and Indian Government
                  for further development
                </h5>
              </a>
              <p><small>Sep 9,2023</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="gradient-custom">
  <div class="container my-3 rounded-4 shadow-lg">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center mb-4 pb-2">
          <i class="fas fa-quote-left fa-3x text-white"></i>
        </div>
        <div class="container">
          <h1 class="text-center">Team Members</h1>
        </div>

        <div class="container">
          <div class="px-4 py-5">
            <!-- Carousel wrapper -->
            <div
              id="carouselDarkVariant"
              class="carousel slide carousel-dark"
              data-bs-ride="carousel"
            >
              <!-- Indicators -->
              <div class="carousel-indicators mb-0">
                <button
                  data-bs-target="#carouselDarkVariant"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  data-bs-target="#carouselDarkVariant"
                  data-bs-slide-to="1"
                  aria-label="Slide 1"
                ></button>
                <button
                  data-bs-target="#carouselDarkVariant"
                  data-bs-slide-to="2"
                  aria-label="Slide 1"
                ></button>
                <button
                  data-bs-target="#carouselDarkVariant"
                  data-bs-slide-to="3"
                  aria-label="Slide 1"
                ></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner pb-5">
                <!-- Single item -->
                <div class="carousel-item active">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img
                            src="static/img/Dev.jpg"
                            class="shadow-1 mb-4 mb-lg-0"
                            alt="Dev"
                            width="150"
                            height="150"
                          />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                        >
                          <h4 class="mb-4">Dev Sanghvi</h4>
                          <p class="mb-0 pb-3">
                            3rd year student from Adani University.
                          </p>
                          <!-- Adding social media icons -->
                          <div class="mt-3">
                            <a href="https://github.com/Dv04" target="_blank">
                              <i class="fab fa-github fa-2x" style="color: black"></i>
                            </a>
                            <a
                              href="https://www.linkedin.com/in/dev-sanghvi-616843128/"
                              target="_blank"
                              class="ml-3"
                            >
                              <i class="fab fa-linkedin fa-2x" style="color: black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img
                            src="static/img/Madhur.png"
                            class="shadow-1 mb-4 mb-lg-0"
                            alt="Madhur"
                            width="150"
                            height="150"
                          />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                        >
                          <h4 class="mb-4">Madhur Prajapati</h4>
                          <p class="mb-0 pb-3">
                            3rd year student from Adani University.
                          </p>
                          <!-- Adding social media icons -->
                          <div class="mt-3">
                            <a
                              href="https://github.com/MysteryManav"
                              target="_blank"
                            >
                              <i class="fab fa-github fa-2x" style="color: black"></i>
                            </a>
                            <a
                              href="https://www.linkedin.com/in/madhur-prajapati-228b2a220/"
                              target="_blank"
                              class="ml-3"
                            >
                              <i class="fab fa-linkedin fa-2x" style="color: black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img
                            src="static/img/Naimish.jpeg"
                            class="shadow-1 mb-4 mb-lg-0"
                            alt="Naimish"
                            width="150"
                            height="150"
                          />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                        >
                          <h4 class="mb-4">Naimish Bhuva</h4>
                          <p class="mb-0 pb-3">
                            3rd year student from Adani University.
                          </p>
                          <!-- Adding social media icons -->
                          <div class="mt-3">
                            <a
                              href="https://github.com/naimish73"
                              target="_blank"
                            >
                              <i class="fab fa-github fa-2x" style="color: black"></i>
                            </a>
                            <a
                              href="https://www.linkedin.com/in/naimishbbhuva/"
                              target="_blank"
                              class="ml-3"
                            >
                              <i class="fab fa-linkedin fa-2x" style="color: black"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                      <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                          <img
                            src="static/img/Heet.jpg"
                            class="shadow-1 mb-4 mb-lg-0"
                            alt="Heet"
                            width="150"
                            height="150"
                          />
                        </div>
                        <div
                          class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0"
                        >
                          <h4 class="mb-4">Heet Vekariya</h4>
                          <p class="mb-0 pb-3">
                            3rd year student from Adani University.
                          </p>
                          <!-- Adding social media icons -->
                          <div class="mt-3">
                            <a
                              href="https://github.com/HeetVekariya"
                              target="_blank"
                            >
                              <i class="fab fa-github fa-2x" style="color: black"></i>
                            </a>
                            <a
                              href="https://www.linkedin.com/in/heet-vekariya-16326024b/"
                              target="_blank"
                              class="ml-3"
                            >
                              <i
                                class="fab fa-linkedin fa-2x"
                                style="color: black"
                              ></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselDarkVariant"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselDarkVariant"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel wrapper -->
          </div>
        </div>

        <div class="text-center mt-4 pt-2">
          <i class="fas fa-quote-right fa-3x text-white"></i>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
