{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}Login{% endblock title %}

{% block body %}


<style>
    .sign-up-box {
        margin-top: 25px;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        width: 400px;
    }
    
    .sign-up-box h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    
    .sign-up-box p {
        font-size: 14px;
        text-align: center;
        color: #777;
    }

    .sign-up-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    input {
        margin-bottom: 10px;
    }

    #role {
        margin-bottom: 10px;
    }

    #gender {
        margin-bottom: 10px;
    }

    #submit {
        margin-top: 25px;
        width: 100%;
    }

    .footer {
        margin-top: 90px;
        overflow-y: auto;
    }
</style>

<div class="col-lg-8 col-md-10 mb-5 mx-auto sign-up-box">
    <div class="sign-up-title">
        <h2 >Sign In</h2>
    </div>

    {{ wtf.quick_form(login_form, novalidate=True, button_map={"submit": "primary"}) }}
    <p class="d-flex justify-content-center mt-1">Yet to Register?&nbsp;&nbsp;<a href="{{ url_for('register_page') }}"> Sign Up</a></p>
  
  </div>
  
  {% endblock body %}