{% extends 'base.html' %}


{% block title %}Patient{% endblock title %}

{% block body %}
<div id="case-history">
    {% for case in cases %}
    <div class="container">
        <div class="card" style="width: 18rem">
          <div class="card-body">
              <h5 class="card-title"><img src="..." class="card-img-top" alt="..." />Patient Name</h5>
            <p class="card-text">
                Case Details
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
</div>
<div id="book-appointment">
    <p>Form Here</p>
</div>
{% endblock body %}