{% extends 'base.html' %}


{% block title %}Patient{% endblock title %}

{% block body %}
<div id="case-history">
    <div class="container">
        <div class="card" style="width: 18rem">
          <div class="card-body">
              <h5 class="card-title"><img src="..." class="card-img-top" alt="..." />Dev Sanghvi</h5>
            <p class="card-text">
                Covid-19
            </p>
          </div>
        </div>
      </div>
</div>
<div id="book-appointment">
  <div class="container">
    <div class="card" style="width: 18rem">
      <div class="card-body">
          <h5 class="card-title"><img src="..." class="card-img-top" alt="..." />Dev Sanghvi</h5>
        <p class="card-text">
            <b>Time Slot:</b> 11:15 A.M.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}