{% extends 'base.html' %}


{% block title %}medicine{% endblock title %}

{% block body %}
<div id="medicine">
  <div id="medicine-list">
    <div class="container">
      <h1 class="text-center">Pharmacy</h1>
        <div class="row">
            {% for medicine in medicine_data %}
            <div class="col-md-4"> <!-- Adjust col-md-4 based on the number of cards per row -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ medicine.name }}</h5>
                        <p class="card-text">
                            <strong>Name:</strong> {{ medicine.name }}<br>
                            <strong>Company:</strong> {{ medicine.brand }}<br>
                            <strong>Strength:</strong> {{ medicine.strength }}<br>
                            <strong>Incident:</strong> {{ medicine.indication }}<br>
                            <strong>Ingredients:</strong> {{ medicine.active_ingredient }}<br>
                            <strong>Prescription required:</strong> {{ medicine.prescription_required }}<br>
  
                            <!-- Add more medicine information fields as needed -->
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>

{% endblock body %}