{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}Register{% endblock title %}

{% block body %}

<style>
    .sign-in-box {
        margin-top: 25px;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        width: 400px;
    }
    
    .sign-in-box h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    
    .sign-in-box p {
        font-size: 14px;
        text-align: center;
        color: #777;
    }

    .sign-in-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    input {
        margin-bottom: 10px;
    }
    #role {
        margin-bottom: 10px;
    }
    #gender {
        margin-bottom: 10px;
    }
    #submit {
        margin-top: 25px;
        width: 100%;
    }
</style>

<div class="col-lg-8 col-md-10 mb-5 mx-auto sign-in-box">
    <div class="sign-in-title">
        <h2 >Sign In </h2>
    </div>
    {{ wtf.quick_form(register_form, novalidate=True, button_map={"submit": "primary"}) }}
    <p class="d-flex justify-content-center mt-1">Already Registered?&nbsp;&nbsp;<a href="{{ url_for('login_page') }}"> Sign In</a></p>  
</div>

{% endblock body %}
</div>