{% extends 'base.html' %} 
{% block title %}Staff{% endblock title %} 
{% block body %}
<div id="doctors">
  <div id="doctors-list">
    <div class="container">
      <h1 class="text-center">Doctors</h1>
        <div class="row">
            {% for doctors in staff_data %}
            <div class="col-md-4"> <!-- Adjust col-md-4 based on the number of cards per row -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ doctors.name }}</h5>
                        <p class="card-text">
                            <strong>Name:</strong> {{ doctors.name }}<br>
                            <strong>Designation:</strong> {{ doctors.designation }}<br>
                            <strong>Speciality:</strong> {{ doctors.speciality }}<br>
                            <strong>Email:</strong> {{ doctors.email }}<br>
                            <strong>Employee id:</strong> {{ doctors.employee_id }}<br>
                            <strong>Phone number:</strong> {{ doctors.phone_number }}<br>
                            <strong>Previous Medical History:</strong> {{ doctors.previous_medical_history }}<br>
  
                            <!-- Add more doctors information fields as needed -->
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock body %}
